Foxtrot.json
{
  "name": "Foxtrot",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1XRrCoTOCL6hleeIXYszrScTZs80YOitZZ8D7YCww5R0",
          "mode": "list",
          "cachedResultName": "Foxtrot-Discord-IDs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XRrCoTOCL6hleeIXYszrScTZs80YOitZZ8D7YCww5R0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XRrCoTOCL6hleeIXYszrScTZs80YOitZZ8D7YCww5R0/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $json.history_items[0].user.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "4b24efcb-8103-4a30-aa43-7e2e23abb6ae",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KS5PsobcCsZEpXBB",
          "name": "Foxtrot"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "id": "={{ $('ClickUp Trigger').item.json.task_id }}",
        "includeMarkdownDescription": true
      },
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "id": "e08c77f8-a2f5-4f0f-8f22-b3a05833ba9d",
      "name": "Get a task",
      "credentials": {
        "clickUpApi": {
          "id": "XjkdMPudcWZjM4HT",
          "name": "ClickUp account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "930299818440540171",
          "mode": "id"
        },
        "sendTo": "user",
        "userId": {
          "__rl": true,
          "value": "={{ $node[\"Get row(s) in sheet\"].json[\"UserID\"] }}",
          "mode": "id"
        },
        "content": "=🚀 **New Task Assigned**\n**Task Name:** {{ $node[\"Get a task\"].json.name }}\n**Assigned By:** {{ $node[\"Get a task\"].json.creator.username }}\n\n**Description:**\n{{ $node[\"Get a task\"].json.description }}\n\n**Status:** {{ $node[\"Get a task\"].json.status.status.toUpperCase() }}\n**Direct Link:** https://app.clickup.com/t/{{ $node[\"Get a task\"].json.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        608,
        0
      ],
      "id": "4675e207-6477-4dba-8a9d-3ec836ba71fb",
      "name": "Send a message",
      "webhookId": "15def6b8-98a6-4664-88d6-3aa6da0d9c14",
      "credentials": {
        "discordOAuth2Api": {
          "id": "E22b75nVrUQssPAG",
          "name": "Foxtrot"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "team": "90182405322",
        "events": [
          "taskCreated",
          "taskAssigneeUpdated"
        ],
        "filters": {}
      },
      "type": "n8n-nodes-base.clickUpTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "46c14ab9-9437-4ca5-853a-29ecc802dcdf",
      "name": "ClickUp Trigger",
      "webhookId": "da5eff5c-9964-4232-be11-2c71bd6cf02e",
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "xIpPhCLCPEjO81L2",
          "name": "ClickUp account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Get a task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a task": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "02077f57-4d0e-4a1d-8bfd-f7f507ad8930",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "aa77417e303b158c532eee5daf2ce4d1b7bbc8d1ddd0fd3eacea8642eeb9c375"
  },
  "id": "Cl0BtV0B-Rjr4w-lP-0In",
  "tags": []
}