Foxtrot.json
{
  "name": "Foxtrot",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1XRrCoTOCL6hleeIXYszrScTZs80YOitZZ8D7YCww5R0",
          "mode": "list",
          "cachedResultName": "Foxtrot-Discord-IDs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XRrCoTOCL6hleeIXYszrScTZs80YOitZZ8D7YCww5R0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XRrCoTOCL6hleeIXYszrScTZs80YOitZZ8D7YCww5R0/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $json.history_items[0].user.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "5d723f23-e159-4b2e-b4e8-bfeb62e93754",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FJcBLXPrGhacOKDs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "id": "={{ $('ClickUp Trigger').item.json.task_id }}",
        "includeMarkdownDescription": true
      },
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "id": "92fc522f-e99d-4a2d-84a9-ff0818de3f3a",
      "name": "Get a task",
      "credentials": {
        "clickUpApi": {
          "id": "7BS4o0KUfCnWFXow",
          "name": "Foxtrot"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "930299818440540171",
          "mode": "id"
        },
        "sendTo": "user",
        "userId": {
          "__rl": true,
          "value": "={{ $node[\"Get row(s) in sheet\"].json[\"UserID\"] }}",
          "mode": "id"
        },
        "content": "=🚀 **New Task Assigned**\n**Task Name:** {{ $node[\"Get a task\"].json.name }}\n**Assigned By:** {{ $node[\"Get a task\"].json.creator.username }}\n\n**Description:**\n{{ $node[\"Get a task\"].json.description }}\n\n**Status:** {{ $node[\"Get a task\"].json.status.status.toUpperCase() }}\n**Direct Link:** https://app.clickup.com/t/{{ $node[\"Get a task\"].json.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        800,
        0
      ],
      "id": "7b4b4c15-14a8-4a44-a949-e456fde6d923",
      "name": "Send a message",
      "webhookId": "15def6b8-98a6-4664-88d6-3aa6da0d9c14",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "discordOAuth2Api": {
          "id": "4Eyj9rqeUeON1DHn",
          "name": "Discord account"
        }
      }
    },
    {
      "parameters": {
        "team": "90182405322",
        "events": [
          "taskCreated",
          "taskAssigneeUpdated",
          "taskTimeEstimateUpdated",
          "spaceDeleted"
        ],
        "filters": {}
      },
      "type": "n8n-nodes-base.clickUpTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "41daecfe-0b68-4541-bd7e-359639405fe1",
      "name": "ClickUp Trigger",
      "webhookId": "da5eff5c-9964-4232-be11-2c71bd6cf02e",
      "credentials": {
        "clickUpApi": {
          "id": "7BS4o0KUfCnWFXow",
          "name": "Foxtrot"
        }
      }
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        656,
        208
      ],
      "id": "08905c18-850e-429a-b2b8-100575b8fb3a",
      "name": "Wait",
      "webhookId": "c98e5300-5c32-47a2-8dd1-7b3ce3ee32a5"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        592,
        0
      ],
      "id": "e7f2eff8-a3a2-44c2-a247-6648c87f3b51",
      "name": "Loop Over Items"
    }
  ],
  "pinData": {},
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Get a task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a task": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "9ee7f3c4-1d4d-4b78-abe2-afe6333f10d1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4ab2b104b33744732db6e5605c6b2ff26da2cb69f5bec97d8de9d94bdcf5b93d"
  },
  "id": "cwYNqGfEHWuH6F-pZWGG4",
  "tags": []
}